@import './variables.scss';

/* RESETEO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
};


/* ESTILOS GENERALES */
body {
    background-color: #ededed;
};

h4 {
    font-weight: normal;
    font-size: 1em;
}

.colorPrincipal {
    color: $colorPrincipal;
}

.colorSecundario {
    color: $colorSecundario;
}

.gris {
    color: $gris;
}


/* NAVBAR */
#navbar {
    background-color: $colorPrincipal;

    a {
        color: white;
    }

    a:hover {
        color: $colorClaroPrincipal;
    }
}

.navbar__collapse {
    color: aliceblue;
}

.navbar__lista {
    margin-top: 6rem;
}

.navbar__search-boton {
    background-color: white;
    border-color: white;
}

.navbar__search-boton:hover {
    background-color: $colorClaroPrincipal;
    border-color: $colorClaroPrincipal;
}

.navbar__search-boton:focus {
    color: #ededed;
    background-color: $colorClaroPrincipal;
    border-color: $colorClaroPrincipal;
    box-shadow: 0 0 0 0.2rem #98C1D9;
}

.navbar__usuario-boton {
    color: white;
    position: relative;
    font-size: 1.25rem;
}

.navbar__usuario-boton:hover {
    color: $colorClaroPrincipal;
}

#navbar__dropdown-menu {
    top: 2em;
    min-width: 14rem;

    a, label {
        color: $colorPrincipal;
    }

    a:hover {
        color: $colorHover;
        background-color: transparent;
    }

    label {
        margin-bottom: 0.2rem;
    }

    #userBoton {
        background-color: $colorPrincipal;
    }

    #userBoton:hover {
        background-color: $colorHover;
    }

    #nombreUser, #passUser {
        opacity: 0.5;
    }
}

.navbar__carrito-badge {
    left: 1.4em;
    top: -0.4em;
    scale: 83%;
}


/* CARRITO */
#container-carrito {
    top: 81px;
    right: -79.1em;
    max-height: 70vh;
    width: 23%;
    background-color: #ededed;
    overflow-y: scroll;
    overflow-x: hidden;
}

.carrito__body {
    color: #1a1a1a;
}

.carrito__base {
    background-color: #d5d5d5;
    
    .carrito__total {
        color: #1a1a1a;
        font-weight: bold;
        font-size: 1.1em;
    }
    .carrito__vaciar {
        background-color: rgb(219, 86, 86);
        border-color: rgb(219, 86, 86);
        color: white;
        font-size: 0.7em;
    }
    .carrito__vaciar:hover {
        background-color: rgb(214, 57, 57);
        border-color: rgb(214, 57, 57);
        color: white;
        font-size: 0.7em;
    }
}

.carrito__eliminar-item {
    position: absolute;
    left: 17.7em;
    color: rgb(219, 86, 86);
    font-size: 1.3em;
    cursor: pointer;
}

.carrito__eliminar-item:hover {
    color: rgb(214, 57, 57);
    cursor: pointer;
}

.suma, .resta {
    color: $colorPrincipal;
    cursor: pointer;
}

.suma:hover, .resta:hover {
    color: $colorHover;
    cursor: pointer;
}


/* FOOTER */
.footer {
    background-color: #d8d8d8;

    .footer__titulos {
        color: #ef7c00;
        font-size: 1.2rem;
    }
    
    .footer__lista {
        list-style: none;
    }


    .footer__lista-item, a, .footer__lista-item--ancla {
        background-color: transparent;
        border: none;
        padding: 0;
        text-decoration: none;
        color: $gris;
    }
    
    a:hover, li:hover {
        background-color: transparent;
        text-decoration: none;
        color: #2e2e2e;
    }

    .footer__link {
        color: $gris;
        text-decoration: none;
    }

    .footer__whatsapp {
        cursor: pointer;
    }
    
    .footer__img-tarjeta {
        height: 1.6em;
    }
}

@media (max-width: 1200px) {
    .footer__metodos-retiro {
      display: block;
    }
}

@media (max-width: 1200px) {
    .footer__icono-bici {
      margin-left: 0 !important;
    }
}