@import './variables.scss';


/* HOME */
.home__imagen {
    padding-top: 5rem;
    padding-right: 0;
    margin-right: 0;
}

.home__icono-pagos {
    font-size: 3em;
    text-align: center;
}

.home__productos {
    margin-bottom: 14em;
}

.home__productos-ancla {
    text-decoration: none;
    color: $colorPrincipal;
    font-size: 1.1em;
}

.home__productos-ancla:hover {
    text-decoration: none;
    color: $colorHover;
}

.home__productos-boton {
    background-color: $colorPrincipal;
    border-color: $colorPrincipal;
    color: white;
}

.home__productos-boton:hover {
    background-color: $colorHover;
    border-color: $colorHover;
    color: white;
}

.home__productos-lista-carousel {
    clear: both;
    list-style: none;
    white-space: nowrap;
    position: relative;
}

.home__productos-item-carousel {
    clear: both;
    white-space: normal;
    height: 361.8px;
}

.home__productos-card {
    width: 14em;
}

.home__productos--boton-atras {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.home__productos--boton-adelante {
    transform: translateX(-596px);
    -webkit-transform: translateX(-596px);
    -moz-transform: translateX(-596px);
    -ms-transform: translateX(-596px);
    -o-transform: translateX(-596px);
}


/* REGISTRO */
.registro__modal-header {
    border-bottom: none;
}

.registro__modal-footer {
    border-top: none;
}


/* MODIFICAR USUARIO */
.modificar-usuario__input {
    width: 91.8%;
}


/* CHECKOUT */
.checkout__total {
    position: relative;
    left: 0.5em;
}

.checkout__total-valor {
    position: relative;
    left: 36.1em;
}

.checkout__eliminar-item {
    color: rgb(219, 86, 86);
    font-size: 1.3em;
    cursor: pointer;
}

.checkout__eliminar-item:hover {
    color: rgb(214, 57, 57);
    cursor: pointer;
}

.checkout__vaciar-carrito {
    color: white;
    background-color: rgb(219, 86, 86);
    position: relative;
    top: -0.4em;
    left: 37em;
}

.checkout__vaciar-carrito:hover {
    color: white;
    background-color: rgb(214, 57, 57);
}

.checkout__ancla {
    color: $colorPrincipal;
    text-decoration: none;
}

.checkout__ancla:hover {
    color: $colorHover;
    text-decoration: none;
}


/* CONTACTO */
.contacto__link {
    text-decoration: none;
}

.contacto__whatsapp {
    cursor: pointer;
}

.contacto__link:hover {
    text-decoration: none;
    color: $colorHover;
}



























